<div class="flex w-full h-screen justify-center items-center flex-col bg-slate-800">
    <h1 class="text-white text-7xl">Todo App Angular</h1>
    <div class="input p-10 w-10/12">
      <input
        class="px-8 py-3 text-left outline-none border-none sm:w-full"
        type="text"
        placeholder="Type Todo . . ."
        [(ngModel)]="newTodo"
      />
      <button
        class="px-6 py-3 bg-green-500 text-white font-bold cursor-pointer sm:w-full"
        (click)="addTodo()"
      >
        Add Todo
      </button>
    </div>
    <ul class="w-4/6 flex justify-center items-center flex-col">
      <li
        *ngFor="let todo of todos; let index = index"
        class="w-full text-slate-800 bg-white px-6 py-3 my-2 rounded-sm relative"
      >
        <ng-container *ngIf="index === editingIndex">
          <input
            class="px-2 py-1 rounded-sm border-2 outline-1"
            type="text"
            [(ngModel)]="editedTodo"
            (keyup.enter)="saveEditing(index)"
          />
        </ng-container>
        <ng-container *ngIf="index !== editingIndex">
          {{ index }} - {{ todo }}
          <i
            class="bx bx-edit absolute right-[2.25rem] top-2 font-bold text-2xl cursor-pointer"
            (click)="startEditing(index)"
          ></i>
        </ng-container>
        <i
          class="bx bxs-x-circle text-red-500 absolute right-2 top-2 font-bold text-2xl cursor-pointer"
          (click)="removeTodo(index)"
        ></i>
      </li>
    </ul>
  </div>